---
import Layout from "../layouts/Layout.astro";
import Apps from "../components/apps.component.astro";
import Navigation from "../components/navigation.component.astro";
---

<Layout title="BetSound Main" mainClasses="flex flex-col">
  <div class="flex grow flex-col items-center justify-center">
    <div class="relative flex justify-center items-center rounded-full">
      <img src="betsound-design/props/speaker.svg" class="w-60" />
      <img src="betsound-design/icons/headphones.svg" class="w-14 absolute opacity-30" />
    </div>
    <div class="relative flex justify-center items-center">
      <img src="betsound-design/props/speaker.svg" class="w-60" />
      <img src="betsound-design/icons/mobile-notch.svg" class="w-14 absolute opacity-30" />
    </div>
    <div class="relative flex justify-center items-center">
      <img src="betsound-design/props/speaker.svg" class="w-60" />
      <img src="betsound-design/icons/speaker-icon.svg" class="w-14 absolute opacity-30" />
    </div>
  </div>
  <Navigation />
</Layout>
