---

---

<div class="pt-4 flex items-center justify-center gap-6 text-dark">
  <button class="bg-light w-12 h-12 rounded-full shadow-xl shadow-dark-200 flex justify-center items-center hover:bg-blue"><img class="w-6" src="/betsound-design/temp/spotify.svg"></button>
  <button class="bg-light w-12 h-12 rounded-full shadow-xl shadow-dark-200 flex justify-center items-center hover:bg-blue"><img class="w-6" src="/betsound-design/temp/whatsapp.svg"></button>
  <button class="bg-light w-12 h-12 rounded-full shadow-xl shadow-dark-200 flex justify-center items-center hover:bg-blue"><img class="w-6" src="/betsound-design/temp/youtube.svg"></button>
  <button class="bg-light w-12 h-12 rounded-full shadow-xl shadow-dark-200 flex justify-center items-center hover:bg-blue"><img class="w-6" src="/betsound-design/temp/deezer.svg"></button>
  <button class="bg-blue w-12 h-12 rounded-full shadow-xl shadow-dark-200 flex justify-center items-center hover:bg-light"><img class="w-8" src="/betsound-design/icons/menu-dots.svg"></button>
</div>
<style>
  div {
    /* bg */
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>