<nav class="flex p-4 justify-evenly items-center rounded-xl">
  <button class="w-8 hover:contrast-200 hover:scale-110 transition-all">
    <img src="betsound/icons/settings.svg" />
  </button>
  <button class="w-8 hover:contrast-200 hover:scale-110 transition-all">
    <img src="betsound/icons/home.svg" />
  </button>
  <button class="w-8 hover:contrast-200 hover:scale-110 transition-all">
    <img src="betsound/icons/user.svg" />
  </button>
</nav>
<style>
  nav {
    /* bg */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
</style>
