---
import "../styles/global.css";

interface Props {
  title: string;
  mainClasses?: string;
}

const { title, mainClasses } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="bg-dark py-8 flex justify-center items-center">
    <main
      class="w-[393px] h-[852px] rounded-xl border-light border shadow-md shadow-light text-light"
      class:list={mainClasses}
    >
      <slot />
    </main>
  </body>
</html>
